<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60274647508-n2o3nj56466119sp5fb9sn2df9um0o9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60274647508-n2o3nj56466119sp5fb9sn2df9um0o9d</string>
	<key>API_KEY</key>
	<string>AIzaSyB4y8aCgKiFL7z-xZLCP9-OlUGSXYMViU0</string>
	<key>GCM_SENDER_ID</key>
	<string>60274647508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stripe.app</string>
	<key>PROJECT_ID</key>
	<string>stripe-8bd34</string>
	<key>STORAGE_BUCKET</key>
	<string>stripe-8bd34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60274647508:ios:c08671e076152a2aea3641</string>
</dict>
</plist>